<div class="user-registration">
  <div class="container">
    <div class="row">
      <!-- <div class="col-8 app-welcome">
        <div class="app-info">
          <p>Maecenas eget sollicitudin ipsum. Aliquam vitae tortor blandit, iaculis sapien vel, auctor nibh. Vivamus nisi libero, feugiat quis est et, lobortis mattis sapien. Donec lacus nulla, tincidunt aliquam pellentesque a, volutpat vel felis. Maecenas eu vestibulum eros, et luctus lectus. Donec nec nunc ut ex cursus euismod ac quis lectus. Proin auctor rhoncus nunc tempor varius. 
            <br>
            <br>
          Vestibulum at sem vitae eros tempus consequat ut non erat. Sed at ligula id lacus scelerisque vulputate varius ut dui. Praesent imperdiet euismod nisi id vehicula. Donec orci nisi, facilisis eu scelerisque vel, dapibus non est. Praesent aliquam lorem quis vulputate vestibulum. Fusce lacus turpis, elementum sit amet elit in, rhoncus varius eros. Aliquam erat volutpat. Nunc viverra sapien vel tellus rutrum commodo.</p>
        </div>
      </div> -->
      <div class="registration">
        <div class="landing-image">
          <img src="./assets/img/logo-black.svg">
        </div>
        <div class="registration-form">
          <h3>Create Account</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <input type="text" placeholder="Mobile Number" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
              </div>
            </div>
            <div>
              <input type="text" placeholder="Email Address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email Address is required</div>
              </div>
            </div>
            <div>
              <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>

            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
            </div>
          </form>
          <p>Already got an account? <a routerLink="../login" class="btn btn-link">Login</a></p>
        </div>
      </div>    
      <div class="disclaimer">
        <h6>DISCLAIMER</h6>
        <p>Nam et quam arcu. Maecenas eu est non nisi faucibus lacinia. Aenean non vehicula odio, non porttitor erat. Nam a mauris maximus turpis luctus condimentum non a erat. Nam posuere viverra nibh, ut egestas nibh dictum sed. Sed sed magna at lorem mollis viverra. Duis auctor ornare semper. Nulla ut facilisis sem. Ut feugiat pellentesque tincidunt. Phasellus id posuere dui. Curabitur id justo vestibulum, suscipit quam sed, sodales quam. Phasellus a dui ipsum. Suspendisse purus nisi, porttitor a porttitor non, placerat sit amet elit.</p>
      </div>
    </div>
  </div>
</div>
