<div class="home">
    <div class="row">
        <div class="main col-sm-12 col-md-9 mb-4">
            <div class="col-lg-12 col-md-12 mb-4">
                <app-icon-cards-carousel></app-icon-cards-carousel>
            </div>
            
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Recent Transactions</h5>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Transaction ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ transactionID }}</th>
                                <td>Mark</td>
                                <td>11th May 2019</td>
                                <td>@mdo</td>
                                <td><a href="">View</a></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ transactionID }}</th>
                                <td>Mark</td>
                                <td>1st May 2019</td>
                                <td>@mdo</td>
                                <td><a href="">View</a></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ transactionID }}</th>
                                <td>Mark</td>
                                <td>11th May 2019</td>
                                <td>@mdo</td>
                                <td><a href="">View</a></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ transactionID }}</th>
                                <td>Mark</td>
                                <td>21st August 2018</td>
                                <td>@mdo</td>
                                <td><a href="">View</a></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ transactionID }}</th>
                                <td>Jacob</td>
                                <td>15th June 2018</td>
                                <td>@fat</td>
                                <td><a href="">View</a></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ transactionID }}</th>
                                <td>Larry the Bird</td>
                                <td>13th June 2018</td>
                                <td>@twitter</td>
                                <td><a href="">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <app-small-line-charts></app-small-line-charts> -->
        <div class="exchange col-sm-12 col-md-3 mb-4">
            <div class="container">
                <div class="card mb-2" *ngFor="let rate of keys">
                    <div *ngIf="rates[rate].rate != 1 ">
                        <div class="card-body">
                            <div class="row">
                                <div class="exchange-currencies col-5">
                                    <div class="row">
                                        <div class="currency-selling col-12">
                                            <h4><b>{{ rates[rate].from }}
                                            </b></h4>
                                            <span>to {{ rates[rate].to }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="exchange-rate col-7 text-right">
                                    <span>{{ rates[rate].rate }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















<!--     <div class="row">
        <div class="col-sm-12 col-md-6 mb-4">
            <app-website-visits-chart-card></app-website-visits-chart-card>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <app-conversion-rates-chart-card></app-conversion-rates-chart-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 mb-4">
            <app-product-categories-doughnut></app-product-categories-doughnut>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-4">
            <app-profile-statuses></app-profile-statuses>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12">
            <app-small-line-charts></app-small-line-charts>
        </div>
    </div>
    <app-sortable-statistics-row></app-sortable-statistics-row>
    <div class="row">
        <div class="col-12 col-lg-6 mb-4">
            <app-order-stock-radar-chart></app-order-stock-radar-chart>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <app-product-categories-polar-area></app-product-categories-polar-area>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <app-sales-chart-card></app-sales-chart-card>
        </div>
    </div>
</div> -->
