<div class="exchange-wizard">
	<div class="calculator card">
		<div class="card-body row">
			<div class="currencies col-12">
				<div class="row mb-5">
					<div class="currency-from col-lg-6 col-sm-12">
						<mat-form-field>
							<mat-label>Currency From</mat-label>
							<mat-select [(value)]="selectedFrom">
								<mat-option *ngFor="let currency of currencies" [value]="currency.country_code">{{ currency.country_name }}</mat-option>
							</mat-select>
						</mat-form-field>
						<div>
						<h1> {{ selectedFrom }} </h1>
						</div>
						<div>
							<input matInput type="number" placeholder="0.0000" min="0" [(value)]="fromAmount" (keyup)=fromExchange($event.target.value) step="0.0001" data-number-to-fixed="4" data-number-stepfactor="1">
						</div>
					</div>
					<div class="currency-to col-lg-6 col-sm-12">
						<mat-form-field>
							<mat-label>Currency To</mat-label>
							<mat-select [(value)]="selectedTo">
								<mat-option *ngFor="let currency of currencies" [value]="currency.country_code">{{ currency.country_name }}</mat-option>
							</mat-select>
						</mat-form-field>
						<div>
						<h1> {{ selectedTo }} </h1>
						</div>
						<div>
							<input matInput type="number" placeholder="0.0000" min="0" [(value)]="toAmount" (keyup)=toExchange($event.target.value) step="0.0001" data-number-to-fixed="4" data-number-stepfactor="1">
						</div>
					</div>
				</div>
				<div>
					<aw-wizard >
						<aw-wizard-step stepTitle="{{ 'wizard.step-name-1' | translate }}" style="min-height: 120px;">
							<div class="form-group">
								<label>{{ 'forms.name' | translate }}</label>
								<input type="text" class="form-control" name="name">
							</div>

							<div class="text-center">
								<button type="button" class="btn btn-primary" awPreviousStep disabled>{{ 'wizard.prev' | translate }}</button>{{" "}}
								<button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
							</div>
						</aw-wizard-step>
						
						<aw-wizard-step stepTitle="{{ 'wizard.step-name-2' | translate }}" style="min-height: 120px;">
							<div class="form-group">
								<label>{{ 'forms.email' | translate }}</label>
								<input type="text" class="form-control" name="email">
							</div>

							<div class="text-center">
								<button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
								<button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
							</div>
						</aw-wizard-step>
						
						<aw-wizard-step stepTitle="{{ 'wizard.step-name-3' | translate }}" style="min-height: 120px;">
							<div class="form-group">
								<label>{{ 'forms.password' | translate }}</label>
								<input type="password" class="form-control" name="password">
							</div>
							
							<div class="text-center">
								<button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
								<button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
							</div>
						</aw-wizard-step>
						
						<aw-wizard-completion-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 120px;">
							<div class="text-center complete-message-centered">
								<h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
								<p>{{ 'wizard.registered' | translate }}</p>
							</div>
						</aw-wizard-completion-step>
					</aw-wizard >
				</div>
			</div>
		</div>
	</div>
</div>