<div class="row">
    <div class="col-12">
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <p>{{'menu.blank-page' | translate}}</p>
    </div>
</div>
